body{
    margin: 0;
    font-family: Tahoma, sans-serif
}

/*header*/

header{
    height: 30vh;
    text-align: center;
    background-color: #18435A;
    display: flex;
    align-items: center;
    justify-content: center;
}

header input{
    padding: 15px;
    font-size: 16px;
}

header button{
    padding: 15px;
    font-size: 16px;
    background-color: #068D9D;
    border: 1px solid #068D9D;
    color: white;
}

/* the two sections */

section p{
    margin-bottom: 8px
}

section input{
    display: inline-block;
    border: none;
    font-size: 16px;
    width: 100%;
    color: #18435A;
}

section input:focus{
    outline: none;
}

/* main section */

.mainSection{
    margin-top: 30px;
    min-height: 35vh;
    text-align: center;
}

.mainSection article{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mainSection p{
    color: #bababa;
}

.mainSection input{
    text-align: center;
}

.mainSection article > input{
    color: #068D9D;
    font-size: 25px;
    font-weight: bold;
}

/* history section */

.historySection{
    padding: 50px;
}

.historySection h2{
    font-size: 20px;
    margin: 30px 0;
    color: #068D9D;
}

.historySection article{
    border: 1px solid #EADEDA;
    padding: 10px;
    margin: 10px 0;
    background-color: #EADEDA;
}

.historySection article p{
    display: none;
}

.historySection input{
    background-color: #EADEDA;
    color: #18435A;
}

.historySection article > input{
    font-size: 18px;
    font-weight: bold;
}

footer{
    height: 15vh;
    background-color: #18435A;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}

footer p{
    margin: 0;
}

footer a{
    color: white;
    font-weight: bold;
}